{% extends 'home.html.twig' %}
{% block stylesheets %}
	{{ parent()}}
	<link rel="stylesheet" href="{{asset('styles/vistareservas.css')}}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

{% endblock %}

{% block body %}
	<div class="row justify-content-center">
		<div class="col-md-10">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="reservas-pasadas-tab" data-toggle="tab" href="#reservas-pasadas" role="tab" aria-controls="reservas-pasadas" aria-selected="true">Reservas Pasadas</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="reservas-pendientes-tab" data-toggle="tab" href="#reservas-pendientes" role="tab" aria-controls="reservas-pendientes" aria-selected="false">Reservas Pendientes</a>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div
					class="tab-pane fade show active" id="reservas-pasadas" role="tabpanel" aria-labelledby="reservas-pasadas-tab">
					<!-- Tabla de reservas pasadas -->
					<table
						class="table table-striped">
						<!-- Encabezado de la tabla -->
						<thead>
							<tr>
								<th>Ruta</th>
								<th>Fecha</th>
								<th>Hora</th>
								<th>Contacto Guía</th>
								<th>Asistentes</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<!-- Cuerpo de la tabla -->
						<tbody>
							{% for reserva in reservasPasadas %}
								<tr>
									<!-- Datos de la reserva -->
									<td>{{ reserva.tour.ruta.titulo }}</td>
									<td>{{ reserva.tour.fecha|date('Y-m-d') }}</td>
									<td>{{ reserva.tour.hora|date('H:i:s') }}</td>
									<td>{{ reserva.tour.guia.email }}</td>
									<td>
										<span class="asistentes">{{ reserva.asistentes }}</span>
									</td>
									<td>

										{% if reserva.valoracion is  null %}
											<p>
											Esta reserva ya ha sido valorada.
											</p>
										{% else %}
											<!-- Si la reserva no tiene valoración, mostramos el botón "Valorar" -->
											<button data-idreserva="{{ reserva.id }}" class="btn-orange btn-sm btn-outline-success btn-valorar">
												<i class="fas fa-star"></i>
											</button>
										{% endif %}

									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div
					class="tab-pane fade" id="reservas-pendientes" role="tabpanel" aria-labelledby="reservas-pendientes-tab">
					<!-- Tabla de reservas pendientes -->
					<table
						class="table table-striped">
						<!-- Encabezado de la tabla -->
						<thead>
							<tr>
								<th>Ruta</th>
								<th>Fecha</th>
								<th>Hora</th>
								<th>Contacto Guía</th>
								<th>Asistentes</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<!-- Cuerpo de la tabla -->
						<tbody>
							{% for reserva in reservasPendientes %}
								<tr>
									<!-- Datos de la reserva -->
									<td>{{ reserva.tour.ruta.titulo }}</td>
									<td>{{ reserva.tour.fecha|date('Y-m-d') }}</td>
									<td>{{ reserva.tour.hora|date('H:i:s') }}</td>
									<td>{{ reserva.tour.guia.email }}</td>
									<td>
										<span class="asistentes">{{ reserva.asistentes }}</span>
									</td>
									<td>
										<!-- Botones de acciones -->
										<button data-idreserva="{{ reserva.id }}" class="btn btn-sm btn-outline-primary btn-editar">
											<i class="fas fa-edit"></i>
										</button>
										<button data-idreserva="{{ reserva.id }}" class="btn btn-sm btn-outline-danger btn-eliminar">
											<i class="fas fa-trash-alt"></i>
										</button>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal de valoración -->
	<div class="modal" id="modalValoracion" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Valoración del Tour</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="formValoracion">
						<div class="form-group">
							<label for="puntuacionGuia">Puntuación del Guía:</label>
							<input type="number" class="form-control" id="puntuacionGuia" name="puntuacionGuia" min="1" max="5" required>
						</div>
						<div class="form-group">
							<label for="puntuacionRuta">Puntuación de la Ruta:</label>
							<input type="number" class="form-control" id="puntuacionRuta" name="puntuacionRuta" min="1" max="5" required>
						</div>
						<div class="form-group">
							<label for="comentario">Comentario:</label>
							<textarea class="form-control" id="comentario" name="comentario" rows="3" required></textarea>
						</div>
						<div
							class="text-right">
							<!-- Utilizamos la clase text-right para alinear a la derecha -->
							<button id="valorar" class="btn-orange-primary btn">Valorar</button>
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script>
		// Script para manejar la edición de asistentes y la valoración
$(document).ready(function () {
var idReservaEditandose = 0;
var idReservaValorandose = 0;

// Manejar click en el botón de editar
$(document).on('click', '.btn-editar', function () {
idReservaEditandose = $(this).data('idreserva');
var botonvalorar = $(this).closest('tr').find('.btn-valorar');
var botoneliminar = $(this).closest('tr').find('.btn-eliminar');
botonvalorar.hide();
botoneliminar.hide();
var asistentes = $(this).closest('tr').find('.asistentes');
var inputAsistentes = $('<input  class="form-control" type="number" value="' + asistentes.text() + '">');
var btnGuardar = $('<button class="btn-guardar btn-sm btn-outline-success" type="button" ><i class="fas fa-save"></i></button>');
var btnCancel = $('<button class=" btn-sm btn-outline-secondary btn-cancelar" type="button" ><i class="fas fa-times"></i></button>');

$(this).parent().append(btnCancel);
$(this).replaceWith(btnGuardar);
asistentes.replaceWith(inputAsistentes);
});

// Manejar click en el botón de guardar (delegación de eventos)
$(document).on('click', '.btn-guardar', function () {

var asistentes = $(this).closest('tr').find('.asistentes');
var inputAsistentes = $(this).closest('tr').find('input[type="number"]');
var nuevosAsistentes = inputAsistentes.val();

$.ajax({
method: "PUT",
url: "/reservas/" + idReservaEditandose,
data: {
asistentes: nuevosAsistentes
},
success: function (data) {
alert("Reserva editada");

}

});
asistentes.text(nuevosAsistentes);
inputAsistentes.replaceWith($('<span class="asistentes">' + nuevosAsistentes + '</span>'));
$(this).siblings('.btn-valorar').show();
$(this).siblings('.btn-eliminar').show();
$(this).siblings('.btn-cancelar').remove();
$(this).replaceWith (`<button  data-idreserva=${idReservaEditandose} class="  btn-sm btn-outline-primary    btn-editar">
										<i class="fas fa-edit"></i>`);

});
// Manejar click de eliminar
$(document).on('click', '.btn-eliminar', function () {
var botonEliminar = $(this);

idReserva = $(this).data('idreserva');
$.ajax({
method: "DELETE",
url: "/reservas/" + idReserva,
success: function (data) {
alert("Reserva eliminada");
botonEliminar.closest('tr').remove();

}

});


});

// Manejar click en el botón de cancelar (delegación de eventos)
$(document).on('click', '.btn-cancelar', function () {
var asistentes = $(this).closest('tr').find('.asistentes');
var inputAsistentes = $(this).closest('tr').find('input[type="number"]');
inputAsistentes.replaceWith($('<span class="asistentes">' + inputAsistentes.val() + '</span>'));
$(this).siblings('.btn-guardar').replaceWith('<button class="btn btn-sm btn-outline-primary btn-editar"><i class="fas fa-edit"></i></button>');
$(this).siblings('.btn-valorar').show();
$(this).siblings('.btn-eliminar').show();

$(this).remove();

});
$('.btn-valorar').click(function () {
idReservaValorandose = $(this).data('idreserva');
$('#modalValoracion').modal('show');

});


$(document).on('click', '#valorar', function () {

var jsondata = {
puntuacionGuia: $('#puntuacionGuia').val(),
puntuacionRuta: $('#puntuacionRuta').val(),
comentario: $('#comentario').val()
};
console.log(jsondata);

$.ajax({
method: "PUT",
url: "/reservas/valorar/" + idReservaValorandose,
data: jsondata,
success: function (data) {
alert("Valoracion hecha");
$('#modalValoracion').modal('hide');
}

});


});
})
	</script>

	<script>
		// Script para manejar la alternancia de pestañas
$(document).ready(function () {
$('#myTab a').on('click', function (e) {
e.preventDefault();
$(this).tab('show');
});
});
	</script>
{% endblock %}
