{% include '@EasyAdmin/layout.html.twig' %}

{% block body %}
<div id="ruta">
	<table class="table datagrid ">
		<thead>
			<tr>

				<th data-column="titulo" class="  header-for-field-text text-" dir="ltr">
					 Titulo 
				</th>

				<th data-column="descripcion" class="  header-for-field-text text-" dir="ltr">
					 Descripcion
				</th>

				<th data-column="fechadesde" class="  header-for-field-text text-" dir="ltr">
					                Desde 
				</th>

				<th data-column="fechahasta" class="  header-for-field-text text-" dir="ltr">
					<a>
                                    Hasta 
                                </a>
				</th>

				<th data-column="foto" class="  header-for-field-image text-center" dir="ltr">
					<a> Foto <i class="fa fa-fw fa-sort"></i>
                                </a>
				</th>

				<th class="actions-as-dropdown-table-head" dir="ltr">
					<span class="sr-only">Actions</span>
				</th>
			</tr>
		</thead>

		<tbody>
        {% for ruta in listaRutas %}
            
			<tr data-id={{ ruta.id }}>
				

				<td data-column="titulo" data-label="Titulo" class=" text- field-text" dir="ltr">
					<span title={{ ruta.getTitulo() }}>{{ ruta.getTitulo()}}</span>

				</td>
				<td data-column="descripcion" data-label="Descripcion" class=" text- field-text" dir="ltr">
					<span title={{ ruta.getDescripcion() }}>{{ ruta.getDescripcion() }}</span>

				</td>
				<td data-column="fechadesde" data-label="Fecha Desde" class=" text- field-text" dir="ltr">
					<span title={{ ruta.getFechaDesde() }}>{{ ruta.getFechaDesde() }}</span>

				</td>
				<td data-column="fechahasta" data-label="Fecha Hasta" class=" text- field-text" dir="ltr">
					<span title={{ ruta.getFechaHasta() }}>{{ ruta.getFechaHasta() }}</span>

				</td>
				<td data-column="foto" data-label="Foto" class=" text-center field-image" dir="ltr">

					<a href="#" class="ea-lightbox-thumbnail" data-ea-lightbox-content-selector="#ea-lightbox-01HP6RXSYS93SS1114RK92DYY6-1">
						<img src="/uploads/rutas/{{ruta.getFoto()}}" class="img-fluid">
					</a>

					<div id="ea-lightbox-01HP6RXSYS93SS1114RK92DYY6-1" class="ea-lightbox">
						<img src="/uploads/rutas/"{{ruta.getFoto()}} >
					</div>

				</td>

				
			</tr>
        {% endfor %}


		</tbody>

		<tfoot>
		</tfoot>
	</table>

	<div class="content-panel-footer without-padding without-border">

		<div class="list-pagination">
			<div class="list-pagination-counter">
				<strong>{{listaRutas|length}}</strong> results
			</div>
		</div>

	</div>

	<form class="d-none" method="post" id="delete-form">
		<input type="hidden" name="token" value="33213777ebf9ae475b6cf48cf0c8.O837P-01OHV4helBoY60TeDcG4Sv9APSNMmT0XMkSKk.Ur2jTrh3dRka2rsr-NncdJDpXdH6l1GFQ6LXnxlMBeAI-soSjltgPCzH2Q">
	</form>

	



	

</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{{ asset('js/listadorutas.js') }}"></script>

{% endblock %}
